<!DOCTYPE html>
<html lang="ZH_cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="referrer" content="origin"> -->
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="mask" style="display: block;">
        <div class="progress-9"></div>
    </div>
    <h1>压缩字体包测试</h1>
    <!-- <p class="instructions">本页包含常用6691个字，其中有繁体、简体、特殊字符，如不完整，欢迎补充！</p>
    <p class="instructions">现在引用的字体包是/public/init文件夹中的<span id="fontName"></span></p>
    <p class="instructions">特别说明：下载ttf文件名一致，如需下载不同资源，上传时更改文件名；</p>
    <p class="instructions">可以直接转换ttf格式，与assets文件中的字体包资源不一样，也能进行转换</p>
    <p class="instructions">上传ttf文件大小比较大时，转换woff2时需要时间会变长，如果出错不能下载window窗口会弹窗报错，如果没有任何提示请耐心等待~~</p>
    <p class="instructions">想要对字体资源进行测试，欢迎点击<a href="/active" style="color: #67c23a;">链接</a></p> -->
    <p style="text-align: center;">现在引用的字体包是/public/init文件夹中的<span id="fontName"></span></p>
    <div class="setup">
        <p>请按如下步骤执行：</p>
        <p>1.上传更换字体资源</p>
        <form id="uploadInitFont" enctype="multipart/form-data" method="post">
            <input type="file" name="file" id="initfile" oninput="initFontRes()" />
            <div class="fileUpload" onclick="document.getElementById('initfile').click()" id="seleinit">
                上传字体资源(ttf,woff,woff2)
            </div>
            <!-- <input type="button" name="submit" value="上传字体资源（ttf,woff,woff2）" onclick="initFont()" class="initfile submit"> -->
            <!-- form表单提交数据不让跳转办法,button标签会自动跳转 -->

        </form>

        <p>2.下载页面上所有字的字体资源 （上一步上传的为何种格式，现在下载为何种格式）</p>
        <button class="btn">下载字体资源</button>
        <button class="defaultFont">下载页面默认字体资源（黑体）</button>

        <p class="bottomdash"></p>
        <p>3.字体格式转换</p>

        <form id="upload" enctype="multipart/form-data" method="post">
            <input type="file" name="file" id="filettf" oninput="changeFontRes()" />
            <div class="fileUpload" onclick="document.getElementById('filettf').click()">
                上传文件(ttf/otf)
            </div>
            <!-- <input type="button" name="submit" value="上传ttf" onclick="uploadFile()" class="submit"> -->
            <!-- form表单提交数据不让跳转办法,button标签会自动跳转 -->
        </form>

        <p class="bottomdash"></p>
        <!-- <p>4.下载不同格式的字体资源（说明： woff2格式比ttf格式的文件大小压缩了一半，）</p>
        <p class="red">ttf转换woff2(ttf文件很大时，转换速度很慢,只要页面不报错，后端程序正在进行转换中，如果出错，会有弹窗提醒，此时最好不要随便点击，同时触发其他功能，会导致页面卡死)，其他转换速度很快
        </p> -->

        <button class="change conver">ttf转换woff2</button>
        <button class="change conver">ttf转换woff</button>
        <button class="change conver">ttf转换eot</button>
        <button class="change conver">otf转换ttf</button>

        <p class="bottomdash"></p>
        <p>4.如果页面上的字体资源不足，欢迎补充提交，然后你会在文字后面看到新增的文字，但是没有字体样式，请重新刷新页面，字体资源重新加载，就能下载最新的ttf文件和woff2文件了</p>
        <textarea class="writeBox" id="write"></textarea>
        <button class="change" onclick="addWord()">提交</button>
    </div>

    <div id="special" style="display: none;">﹟ `!^…！~ #﹩$﹠&﹪%*﹡﹢﹦﹤‐￣¯―﹨ˆ˜﹍﹎+=
        <＿_-\ˇ﹉﹊（）〈〉‹›﹛﹜『』〖〗［］《》〔〕{}「」【】1234567890@￥():"[]|? />
        ,.;'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZπ一二三四五六七八九十ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫ。，、﹑＇：∶‘’“”〝〞﹕︰﹔﹖·¨¸´？～—｜‖＂〃
    </div>
    <div class="box">
        <div class="left">
            <h3>有字体效果</h3>
            <p class="text" id="textFont">

            </p>
        </div>
        <div class="right">
            <h3>无字体效果</h3>
            <p class="usually" id="textUsually">

            </p>
        </div>
    </div>


    <script src="./js/axios.min.js"></script>
    <script>
        // 注意：使用input type=file时，用元素包裹input，更改input默认样式时，会导致上传时获取不到input选中的文件，导致上传失败，所以更改input样式时，用同级元素替代input，点击同级元素时，触发input的点击事件
        let fontname = 'heiti'; //HYZhengYuan-75S
        let fileType = 'ttf'; // woff2
        // 上传名字
        let uploadName = '';

        // 动态加载字体资源, 页面首次加载字体资源创建元素
        async function activeFontSource(ttype) {
            // document.getElementById('fontName').innerText = fontname;
            let type = ttype || 'ttf';
            // const style = document.createElement('style');
            // style.innerHTML = `
            // @font-face {
            //     font-family: ${fontname};
            //     src: url("http://localhost:3000/admin/font-test?font=${fontname}&type=${type}");
            // }
            // .text {
            //     font-family: ${fontname};
            //     font-display: block;
            // }
            // `;
            // document.head.appendChild(style);

            document.querySelector(".mask").style.display = 'block';
            const font = new FontFace(
                "op-design",
                "url(" + `./admin/font-test?font=${fontname}&type=${type}` + ")"
            );
            await font.load();
            document.fonts.add(font);
            document.querySelector(".mask").style.display = 'none';
        }
        
        // 获取页面文字
        function getWord() {
            const str = document.querySelector('#special').innerText;
            axios({
                method: 'post',
                url: "./admin/send-word",
                data: {
                    text: str
                }
            }).then((res) => {
                document.getElementById('textFont').innerText = res.data.text
                document.getElementById('textUsually').innerText = res.data.text
                activeFontSource(fileType)
                console.log('getword--------')
            }).catch((err) => {
                alert("网络连接失败,稍后重试", err);
            })
        }
        
        getWord()
        // 1.更换页面字体资源
        function initFontRes() {
            let dom = document.querySelector("#initfile");
            let showDom = document.querySelector("#seleinit");
            let val = dom.value;
            if (val.length != 0) {
                let form = document.getElementById('uploadInitFont'),
                formData = new FormData(form);
                const str = document.getElementById('textFont').innerText;
                document.getElementById('textFont').innerText = ''
                axios.post('./admin/initFont', formData, {
                    'Content-type': 'multipart/form-data'
                }).then(res => {
                    console.log(res.data);
                    fontname = res.data.fileName;
                    fileType = res.data.type;
                    alert(res.data.msg)

                    document.getElementById('textFont').innerText = str;

                    activeFontSource(fileType)
                }, err => {
                    alert("网络连接失败,稍后重试", err);
                })
            }
            else {
                showDom.innerText = '选择文件'
                showDom.style.background = '#c2e7b0'
            }
        }

        // 2.下载页面上所有字的字体资源
        document.querySelector(".btn").onclick = () => {
            let a = document.createElement('a');
            a.download = fontname + '.' + fileType;
            a.href = './admin/font-test?font=' + fontname + '&type=' + fileType;
            let event = new MouseEvent('click')
            a.dispatchEvent(event);
        }

        // 下载页面默认字体黑体
        document.querySelector(".defaultFont").onclick = () => {
            let a = document.createElement('a');
            a.download = 'heiti.ttf';
            a.href = './init/heiti.ttf';
            let event = new MouseEvent('click');
            a.dispatchEvent(event);
        }
        
        // 3.上传字体转换不同格式
        function changeFontRes() {
            let dom = document.querySelector("#filettf");
            let showDom = document.querySelector("#fileUpload");
            let val = dom.value;
            if (val.length != 0) {
                let form = document.getElementById('upload'),
                formData = new FormData(form);

                console.log('uploadFile--ttf', document.querySelector("#filettf"))

                axios.post('./admin/upload', formData, {
                    'Content-type': 'multipart/form-data'
                }).then(res => {
                    console.log(res.data);
                    uploadName = res.data.fileName;
                    alert(res.data.msg)
                }, err => {
                    alert("网络连接失败,稍后重试", err);
                })
            }
            else {
                showDom.innerText = '选择文件'
                showDom.style.background = '#c2e7b0'
            }
        }
        let changeArr = document.querySelectorAll('.conver');

        changeArr[0].onclick = () => {

            if (uploadName.length != 0) {
                document.querySelector(".mask").style.display = 'block';
                axios({
                    method: 'get',
                    url: "./admin/ttf-to-woff?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = './woff2/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                    document.querySelector(".mask").style.display = 'none';
                }).catch((err) => {
                    document.querySelector(".mask").style.display = 'none';
                    alert("网络连接失败,稍后重试", err);
                })
            } else {
                alert('未执行第三步上传文件')
            }
        }

        // ttf-to-woff
        changeArr[1].onclick = () => {
            if (uploadName.length != 0) {
                document.querySelector(".mask").style.display = 'block';
                axios({
                    method: 'get',
                    url: "./admin/ttf-to-woffone?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = './woff/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                    document.querySelector(".mask").style.display = 'none';
                }).catch((err) => {
                    document.querySelector(".mask").style.display = 'none';
                    alert("网络连接失败,稍后重试", err);
                })
            } else {
                alert('未执行第三步上传文件')
            }
        }

        // /ttf-to-eot
        changeArr[2].onclick = () => {
            if (uploadName.length != 0) {
                document.querySelector(".mask").style.display = 'block';

                axios({
                    method: 'get',
                    url: "./admin/ttf-to-eot?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = './eot/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                    document.querySelector(".mask").style.display = 'none';
                }).catch((err) => {
                    document.querySelector(".mask").style.display = 'none';
                    alert("网络连接失败,稍后重试", err);
                })
            } else {
                alert('未执行第三步上传文件')
            }
        }
        //otf-to-ttf

        changeArr[3].onclick = () => {
            if (uploadName.length != 0) {
                document.querySelector(".mask").style.display = 'block';

                axios({
                    method: 'get',
                    url: "./admin/otf-to-ttf?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = './ttf/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                    document.querySelector(".mask").style.display = 'none';
                }).catch((err) => {
                    document.querySelector(".mask").style.display = 'none';
                    alert("网络连接失败,稍后重试", err);
                })
            } else {
                alert('未执行第三步上传文件')
            }
        }


        // 4.添加文字
        function addWord() {
            let addText = document.getElementById("write").value;
            let pageText = document.getElementById("textFont").innerText;
            let beforeLen = pageText.length;
            pageText = pageText + addText;
            let textArr = [...new Set(pageText.split(''))]
            if (textArr.length === beforeLen) {
                alert('这些字已经在页面上已存在了哦~~~')
                return;
            }
            console.log('addtext')
            axios({
                method: 'post',
                url: "./admin/write-word",
                data: {
                    addtext: textArr.join('')
                }
            }).then((res) => {
                alert(res.data.msg)
                getWord()
            }).catch((err) => {
                console.log('error', err)
                alert("网络连接失败,稍后重试", err);
            })
        }
        
        /*
        
        // 上传需要加载的文件
        function initFont() {
            let form = document.getElementById('uploadInitFont'),
                formData = new FormData(form);
            const str = document.getElementById('textFont').innerText;
            document.getElementById('textFont').innerText = ''
            axios.post('./admin/initFont', formData, {
                'Content-type': 'multipart/form-data'
            }).then(res => {
                console.log(res.data);
                fontname = res.data.fileName;
                fileType = res.data.type;
                alert(res.data.msg)

                document.getElementById('textFont').innerText = str;

                activeFontSource(fileType)
            }, err => {
                alert("网络连接失败,稍后重试", err);
            })
        }


        // 上传文件
        function uploadFile() {
            let form = document.getElementById('upload'),
                formData = new FormData(form);

            console.log('uploadFile--ttf', document.querySelector("#filettf"))

            axios.post('./admin/upload', formData, {
                'Content-type': 'multipart/form-data'
            }).then(res => {
                console.log(res.data);
                uploadName = res.data.fileName;
                alert(res.data.msg)
            }, err => {
                alert("网络连接失败,稍后重试", err);
            })
        }

        */
        
    </script>
</body>

</html>